.AdminMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #409ef7; /* Light blue background */
    color: #000000; /* Dark text color for readability */
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.AdminMenu h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000; /* Blue color for the heading */
}

.AdminMenu p {
    font-size: 1.2rem;
    margin: 10px 0;
    line-height: 1.6;
}

.AdminMenu ul {
    list-style-type: none;
    padding: 0;
}

.AdminMenu li {
    font-size: 1.1rem;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #ffffff; /* Light grey background for list items */
    border-radius: 5px;
}

.AdminMenu li:not(:last-child) {
    margin-bottom: 10px;
}

.AdminMenu a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.AdminMenu a:hover {
    color: #0056b3;
}