html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #000000;
  background-color: #ffffff;
  grid-template-rows: 15% 80% 5%;
}

